<ul>
  <li *ngFor="let todo of list">
    <div class="input-todo">
      <div class="radio-container">
        <input type="radio" (change)="done(todo.id)" />
      </div>
      <input
        type="text"
        [value]="todo.content"
        (blur)="onUpdateBlur(todo.id, $event.target.value)"
      />
    </div>
  </li>
  <li>
    <div class="input-todo">
      <div class="radio-container">
        <input type="radio" *ngIf="showAddRadio" />
      </div>
      <input
        type="text"
        [(ngModel)]="addText"
        (focus)="setShowAddRadio(true)"
        (blur)="onAddBlur($event.target.value)"
      />
    </div>
  </li>
</ul>
