<div>
  <label>
    <input type="radio" [(ngModel)]="select" name="select" value="todo" checked />
    TODO
  </label>
  <label>
    <input type="radio" [(ngModel)]="select" name="select" value="done" />
    Done
  </label>
</div>
<app-todo-list *ngIf="select === 'todo'" [list]="todos" [state]="select" (onClick)="onRadioClick($event)" (emitUpdateBlur)="onUpdateBlur($event)" (emitAddBlur)="onAddBlur($event)"></app-todo-list>
<app-todo-list *ngIf="select === 'done'" [list]="dones" [state]="select" (onClick)="onRadioClick($event)"></app-todo-list>
