<h2>Todo</h2>
<ul>
  <li *ngFor="let todo of todos">
    <div class="input-todo">
      <div class="radio-container">
        <input type="radio" (change)="done(todo.id)" />
      </div>
      <input type="text" [value]="todo.content" />
    </div>
  </li>
  <li>
    <div class="input-todo">
      <div class="radio-container">
        <input type="radio" *ngIf="showAddRadio" />
      </div>
      <input type="text" appAutofocus (focus)="setShowAddRadio(true)" (blur)="onAddBlur($event.target.value)" />
    </div>
  </li>
</ul>
